@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background: #f1f3f9;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.card {
  background: white;
  padding: 20px;
  overflow: auto;
  margin-top: 80px;
  border-radius: 8px;
}

.card .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .head h1 {
  width: -webkit-fill-available;
  font-size: 1.5rem;
  color: #344767;
  margin: 0;
}

.card .head a {
  all: unset;
  background: #7d61e4;
  padding: 12px 16px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  border: 1px solid #7d61e4;
}

.card .head a:hover {
  background: transparent;
  color: #7d61e4;
}

.card .head .back {
  background: transparent;
  color: black;
  border-color: #dfe8f1;
}

.card .head .back:hover {
  color: black;
  background: #dfe8f1;
}

.lt-table {
  border-color: #e9ecef;
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
}

.lt-table th {
  padding: .75rem;
  text-align: left;
  color: #717f95;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 0;
  border-bottom: 1px solid #f4f6ff;
}

.lt-table td {
  padding: .5rem .75rem;
  color: #67748e;
  border-bottom: 1px solid #e9ecef;
  max-width: 250px;
}

.lt-table td img {
  margin: 0 8px;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}

.lt-table td img:hover {
  opacity: .75;
}

.lt-table td .edit {
  background: #f5365c;
}

.lt-table td .delete {
  background: #5e72e4;
}

.lt-table tr:nth-child(even) {
  background-color: #f6f9fc;
}

.f-group {
  margin-bottom: 16px;
}

.f-group label {
  font-weight: 600;
  color: #344767;
}

.f-group .invalid {
  font-size: .875rem;
  margin-top: 4px;
  width: 100%;
  margin-top: 0.5rem;
  color: #f5365c;
}

.f-group .is-invalid {
  border-color: #f5365c;
}

.f-group input {
  all: unset;
  font-size: .875rem;
  line-height: 2;
  margin-top: 10px;
  margin-right: 12px;
  display: block;
  width: -webkit-fill-available;
  padding: 0.625rem 0.75rem;
  -webkit-transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  background-color: #fff;
}

.f-group input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #5e72e4;
  outline: 0;
}

.f-group input::-webkit-input-placeholder {
  color: #adb5bd;
}

.f-group input:-ms-input-placeholder {
  color: #adb5bd;
}

.f-group input::-ms-input-placeholder {
  color: #adb5bd;
}

.f-group input::placeholder {
  color: #adb5bd;
}

.f-group textarea {
  all: unset;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 12px;
  display: block;
  width: -webkit-fill-available;
  height: 7.5rem;
  font-family: "Roboto", sans-serif;
  padding: 0.625rem 0.75rem;
  -webkit-transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
  background-color: #fff;
  background-clip: padding-box;
}

.f-group textarea::-webkit-input-placeholder {
  color: #adb5bd;
}

.f-group textarea:-ms-input-placeholder {
  color: #adb5bd;
}

.f-group textarea::-ms-input-placeholder {
  color: #adb5bd;
}

.f-group textarea::placeholder {
  color: #adb5bd;
}

.f-group textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #5e72e4;
  outline: 0;
}

.text-end {
  text-align: end;
}

button {
  all: unset;
  background: #5e72e4;
  padding: 12px 32px;
  margin-top: 12px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  border: 1px solid #5e72e4;
}

button:hover {
  background: transparent;
  color: #5e72e4;
}